.content.create {
  height: 518px;
  width: 100%;
  margin-top: 50px;
  background: url(asset_path('create/create.svg')) center center no-repeat;
  background-size: 100% 100%;
}

.create1And2 {
  display: block;
  margin-top: 50px;
  height: 310px;
  width: 100%;
}

.create1, .create2 {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
}

.create3 {
  height: 208px;
}

.create1, .create2, .create3 {
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
