<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <img src="{% asset_path layout/menu.svg %}" class="open" />
        <img src="{% asset_path layout/close.svg %}" alt="" class="close" />
      </button>

      <a class="navbar-brand" href="index_home.html">Foodperience</a>
    </div>
